<div class="col-md-4">
    <div class="story">Story Listing</div>
    <div>
       Hello {{sc.name}} <input type="text" ng-model="sc.name"> </input>
    </div>


    <div ng-init="customers=[{n:'Sam'},{n:'Ram'},{n:'Veena'},{n:'Reena'}]">
        <ul>
            <li ng-repeat="cust in customers| filter:nameText | orderBy:'n'">{{cust.n | uppercase}}</li>
        </ul>
    </div>

    <input type="text" ng-model="nameText"/>

    <div class="col-md-4">
        <h2>Stories</h2>
        <div class="callout"
             ng-repeat="story in sc.main.stories"
             ng-click="sc.main.setCurrentStory(story)">
            <h4>{{story.title}}</h4>
            <p>{{story.description}}</p>
        </div>
    </div>

</div>


